<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta-data -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="image/ecell-logo-bw2.png" type="image/x-icon" />

    <!-- local-css -->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <!-- AOS-link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- title -->
    <title>E-Cell</title>

    <!-- FONTS -->
    <script
      src="https://kit.fontawesome.com/2a064b5b70.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/cssttf2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://www.dafontfree.net/embed/ZW5ncmF2ZXJzLW10LXJlZ3VsYXImZGF0YS8xMy9lLzY0NzY2L0VOR1IuVFRG"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Local-js -->
    <script type="text/javascript" src="javascripts/index.js" defer></script>
  </head>

  <body onload="preloaderfun()">
    <!-- Added by Manash -->
    <%- include("./partials/loader.ejs") %>
    <!-- Added by Manash -->

    <!-- Added by Aditya -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Added by Aditya -->

    <!-- Added by Manash -->
    <%- include("./partials/hero.ejs") %>
    <!-- Added by Manash -->

    <!-- Added by Sakshi -->
    <%- include("./partials/collaborating.ejs") %>
    <!-- Added by Sakshi -->

    <!-- Added by Hannan -->
    <%- include("./partials/aboutUs.ejs") %>
    <!-- Added by Hannan-->

    <!-- Added by Mainur -->
    <%- include("./partials/eventHighlight.ejs") %>
    <!-- Added by Mainur-->

    <!-- Added by Doneela -->
    <%- include("./partials/timeline.ejs") %>
    <!-- Added by Doneela-->

    <!-- Added by sakshi-->
    <%- include("./partials/speaker.ejs") %>
    <!-- Added by sakshi-->

    <!-- Added by Rajak -->
    <%- include("./partials/footer.ejs") %>
    <!-- Added by Rajak-->

  </body>
</html>
