<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/logo/ecell-logo-bw2.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/ecell-team.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
    <title>E-Cell Team</title>
</head>
<body>
    <%- include('./partials/Shared/navbar'); -%>
    <%- include('./partials/Team/hero_team.ejs'); -%>
    <%- include('./partials/Team/switch.ejs'); -%>
    <%- include('./partials/Team/faculty.ejs'); -%>
    <%- include('./partials/Team/coreTeam.ejs'); -%>
    <%- include('./partials/Team/seniorDev.ejs'); -%>
    <%- include('./partials/Team/devMember.ejs'); -%>
    <%- include('./partials/Shared/footer'); -%>
    <script src="https://kit.fontawesome.com/8bff9a5af8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/script-team.js" defer></script>
</body>
</html>